<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <div class="" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
          <button mat-menu-item
          class="quick-panel-toggle-button"
          (click)="toggleSidebarOpen('navbar')">
              <mat-icon>
                <img class="logo-icon" src="assets/images/logos/RutgersLogo.png">
              </mat-icon>
              <span>myRutgers</span>
          </button>
        </div>

        <div class="toolbar-separator" fxShow.gt-md></div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
          <button mat-menu-item [matMenuTriggerFor]="userMenu"
                    class="user-button">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img class="avatar mr-0 mr-sm-16" src="assets/images/avatars/profile.jpg">
                    <span class="username mr-12" fxHide fxShow.gt-sm>Student</span>
                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button>
            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
                  <button mat-menu-item class="">
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Logout</span>
                  </button>

              </mat-menu>

          <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

          <button mat-menu-item
          class="quick-panel-toggle-button"
          (click)="toggleSidebarOpen('quickPanel')"
          aria-label="Toggle quick panel">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
          </button>
        </div>
    </div>

</mat-toolbar>
